<script src="/socket.io/socket.io.js"></script>
<script>

    $(document).ready(function() {
        // Playlist realtime
        var room_id = '{{{room.id}}}';
        var room_name = '{{{room.name}}}';
        var user_id = "{{{profile.facebook_id}}}";
        var user_name = "{{{profile.name}}}";
        var socket = io.connect('{{{env.localhost}}}');

        // on connection to server, ask for user's name with an anonymous callback
        socket.on('connect', function(){
            // call the server-side function 'adduser' and send one parameter (value of prompt)
            socket.emit('adduser', user_id, user_name, room_id, room_name);
        });

        // listener, whenever the server emits 'updatechat', this updates the chat body
        socket.on('updatechat', function (username, data) {
            $('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
        });

        // Updates userslist
        socket.on('updateusers', function(usernames) {
            $('#users').empty();
            $.each(usernames, function(index, element) {
                if(element) {
                    $('#users').append('<p>' + element[1] + '</p>');
                    console.log(element[1]);
                }
            })
        })

        // when the client clicks SEND
        $('#datasend').click( function() {
            var message = $('#data').val();
            $('#data').val('');
            // tell server to execute 'sendchat' and send along one parameter
            socket.emit('sendchat', message);
        });

        // when the client hits ENTER on their keyboard
        $('#data').keypress(function(e) {
            if(e.which == 13) {
                $(this).blur();
                $('#datasend').focus().click();
            }
        });
    });
</script>